[locations]
1=MIA
2=SNG
3=BCN
4=UK1
5=UK2
6=NL1
7=SG1
8=HK1
9=INTCI
10=Chrome_Local
default=UK1

[Chrome_Local]
1=Chrome
label="Chrome Local"

[MIA]
1=MIATest
label="Miami - Chrome, Firefox"
group=LastMile

[SNG]
1=SNGTest
label="Singapore - Chrome, Firefox"
group=LastMile

[BCN]
1=BCNTest
label="Barcelona - Chrome, Firefox"
group=LastMile

[UK1]
1=UK1Test
label="UK1 - Chrome, Firefox"
group=BackBone

[UK2]
1=UK2Test
label="UK2 - Chrome, Firefox"
group=BackBone

[NL1]
1=NL1Test
label="NL1 - Chrome, Firefox"
group=BackBone

[SG1]
1=SG1Test
label="SG1 - Chrome, Firefox"
group=BackBone

[HK1]
1=HK1Test
label= "HK1 - Chrome, Firefox"
group=BackBone

[INTCI]
1=Local-WPTDriver
label="INT-CI - Chrome, Firefox"
group=Other

;
; Tese are the browser-specific configurations that match the configurations
; defined in the top-level locations.  Each one of these MUST match the location
; name configured on the test agent (urlblast.ini or wptdriver.ini
;
; For a wptdriver configuration (chrome, firefox), the browser labels here 
; MUST match the labels used in wptdriver.ini
;

[MIATest]
browser=Chrome,Firefox
label="Miami Office Test Location - ??/?? Mbps"

[BCNTest]
browser=Chrome,Firefox
label="Barcelona Office Test Location - ??/?? Mbps"

[UK1Test]
browser=Chrome,Firefox
label="UK1 Datacenter Test Location - ??/?? Mbps"

[UK2Test]
browser=Chrome,Firefox
label="UK2 Datacenter Test Location - ??/?? Mbps"

[NL1Test]
browser=Chrome,Firefox
label="NL1 Datacenter Test Location - ??/?? Mbps"

[SG1Test]
browser=Chrome,Firefox
label="SG1 Datacenter Test Location - ??/?? Mbps"

[HK1Test]
browser=Chrome,Firefox
label="HK1 Datacenter Test Location - ??/?? Mbps"

[Local-WPTDriver]
browser=chrome,Firefox
label="Miami Office Test Location - ??/?? Mbps"

[Chrome]
browser=Chrome
label="Chrome Local - Xvfb - ??/?? Mbps"


;
; This is an exaple of a "remote" configuration where tests can be proxied to a remote
; webpagetest instance.  The test will be run by the remote server but the results
; will be downloaded to the local server and deleted from the remote agent
;
; Each location that you want to use from the remote server needs to be configured
; individually on the local configuration (location names do not need to match)
;
; To use the public webpagetest.org instance you will need an API key
;

;[WPT_Dulles_IE8]
;browser=IE 8
;label="WebPagetest.org Dulles, VA - IE8"
;relayServer="http://www.webpagetest.org/"
;relayKey=<your API key>
;relayLocation=Dulles_IE8
